button {
  margin: 1rem;
  padding: 0.75rem;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.2;

  &:focus {
    box-shadow: 0 5px 8px -4px $semi-transparent;
    // border-right-color: transparent;
    // border-bottom-color: transparent;
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    color: $btn-color-disabled;
    background-color: $btn-bg-disabled;
  }

  &.btn-top {
    margin-top: 0;
  }

  &.btn-right {
    margin-right: 0;
  }

  &.btn-bottom {
    margin-bottom: 0;
  }

  &.btn-left {
    margin-left: 0;
  }
}

.f9-btn-primary {
  color: $white;
  background-color: $primary;
  // border: 1px solid $white;
  border: none;

  &:hover:not(:disabled) {
    background-color: $primary-light;
  }

  &:active:not(:disabled) {
    background-color: $btn-bg-primary-active;
  }
}
