button {
  margin: 1rem;
  padding: 0.5rem 0.875rem;
  outline: none;
  text-transform: uppercase;
  color: $white;
  background-color: $primary;
  border: none;
  font-size: 0.875rem;
  letter-spacing: 0.05em;

  @include tablet() {
    font-size: 0.875rem;
    font-weight: bold;
  }

  @include laptop() {
    padding: 0.625rem 1rem;
  }

  @include desktop() {
    padding: 0.625rem 1rem;
    font-weight: bold;
    font-size: 1rem;
  }

  &.btn--sm {
    font-weight: normal;
    font-size: 0.75rem;
  }

  &:hover {
    background-color: $accent1;
  }

  &:focus {
    background-color: $accent1;
    // box-shadow: 0 5px 8px -4px $semi-transparent;
    // border-right-color: transparent;
    // border-bottom-color: transparent;
  }

  &:active {
    background-color: $accent3;
  }

  &:disabled {
    color: $btn-color-disabled;
    background-color: $btn-bg-disabled;
  }

  &.btn--top {
    margin-top: 0;
  }

  &.btn--right {
    margin-right: 0;
  }

  &.btn--bottom {
    margin-bottom: 0;
  }

  &.btn--left {
    margin-left: 0;
  }

  &.btn--on-dark-bg {
    outline: $btn-dark-bg-outline solid 1px;
  }
}
